
.quicksand-normal {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  /* shared styles */
  /* .image-body{
    background-image: url('../assets/bg.png');
  } */
  /* black color */
   .black{
    color: #111111;
   }
  /* navbar design */
  nav{
    width: 1160px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  .icon-school{
    display: flex;
    gap: 11px;
    align-items: center;
  }
  .image-01{
    width: 62px;
    height: 62px;
    
  }
  .school{
    font-size: 2rem;
    font-weight: 700;
  }
  ul li{
    list-style: none;
    font-size: 1.25rem;
    font-weight: 500;
    
  }
  .facility{
    display: flex;
    width: 387px;
    justify-content: space-between;
  }
  #home{
    color: #FEA301;
  }
  .about{
   color: #01ACFD;
  }
  .facilities{
    color: #05D4DF;
  }
  .admission{
    color: #5D58EF;
  }
  .btn-1{
    color: #FFFFFF ;
    font-size: 1.25rem;
    font-weight: 600;
    height: 50px;
    width: 197px;
    background-color: #FEA301;
    border-radius: 12px;
    border: none;
  }
  /* banner section design */
  .banner{
    width: 1158.61px;
    margin: 0 auto;
    display: flex;
    /* align-items: center; */
    gap: 50px;
    border: 1px solid saddlebrown;
  }
  .empower{
    width: 640px;
    height: 331px;
    margin: 122px 0px;
    
  }
  .empower-title{
    font-size: 3.5rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
  }
  #empowering{
    color: #FEA301;
  }
  #student-age{
    color: #111111 ;
  }
  #vision{
    color: #01ACFD;
  }
  .empower-des{
    color: rgba(17, 17, 17, 0.64);
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .btn-2{
    background-color: #111111;
    border: none;
    border-radius: 12px;
    width: 197px;
    height: 50px;
    font-size: 1.25rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 0;
  }
  .image-02{
    width: 486.61px;
  }
  /* curriculum design */
  .curriculum{
    width: 460.61px;
    margin: 0 auto;
  }
  .curriculum-headline{
    color: #000000;
    font-size: 2.875rem;
    font-weight: 700;
    
  }
  /* card design */
  .card{
    width: 1160px;
    height: 481.5px;
    display: flex;
    gap: 28.29px;
    margin: 0 auto;
  }
  .card-1{
    border: 2px solid #DEF5FF;
    width: 367.8px;
    height: 476.78px;
    border-radius: 18.86px;
    background: linear-gradient(to bottom, #DEF5FF 0%, rgba(224, 243, 255, 0.5) 10%, rgba(255, 255, 255, 0) 30%);

  }
  
  .card-headline{
    font-weight: 700;
    font-size: 1.53rem;
    color: #202020;
    text-align: center;
    margin-top: 0;
  }
  .card-des{
    font-weight: 500;
    font-size: .943rem;
    color: #808080;
    text-align: center;
  }
  #read-more-1{
    margin-top: 34px;
    color: #64C8FF;
  }
  #read-more-2{
    margin-top: 34px;
    color: #F0AA00;
  }
  #read-more-3{
    margin-top: 34px;
    color: #8700FF;
  }
  .card-2{
    border: 2px solid #FFF4DC;
    width: 367.8px;
    height: 476.78px;
    border-radius: 18.86px;
    background: linear-gradient(to bottom, #FFF4DC 0%, rgba(255, 244, 220, 0.5) 10%, rgba(255, 255, 255, 0) 30%);
  }
  .card-3{
    border: 2px solid #F2E8FF;
    width: 367.8px;
    height: 476.78px;
    border-radius: 18.86px;
    background: linear-gradient(to bottom, #F2E8FF 0%, rgba(242, 232, 255, 0.5) 10%, rgba(255, 255, 255, 0) 30%);
  }
  .card-image-1{
    margin: 52.82px 115.54px 32.07px 115.5px;
  }
  .card-image-2{
    margin: 52.82px 113.14px 32.07px 113.18px;
  }
  .card-image-3{
    margin: 52.82px 115.54px 32.07px 115.5px;
  }
  /* stories */
  .story{
    color: #000000;
    font-weight: 700;
    font-size: 2.875rem;
    text-align: center;
  }
  .our-story{
    display: flex;
    width: 1160px;
    margin: 0 auto;
    gap: 18.73px;
  }
  .toddler{
    width: 540.27px;
    border: 1px solid salmon;
  }
  .toddler-image{
    width: 100%;
    height: 337px;
    margin-bottom: 58.63px;
    border-radius: 13px 13px 0px 0px;
  }
  .toddler-headline{
    font-weight: 700;
    font-size: 1.5rem;
    color: #000000;
    width: 463.57px;
    margin-top: 0px;
    /* margin: 0px 38.35px 38.35px 0px ; */
    margin-left: 38.35px;
    margin-right: 38.35px;
    border: 1px solid blue;
  }
  .toddler-des{
    font-weight: 500;
    font-size: .943rem;
    color: #808080;
    margin: 47.93px 68.86px 34.52px 38.35px;
    border: 1px solid salmon;
  }
  .teenage{
    display: 601px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 19.17px;
  }
  .teen-childs{
    border-radius: 16px;
    border: 1px solid red;
  }
  .teen-image{
    width: 100%;
    height: 177px;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 38.33px;
  }
  .teen-headline{
    width: 214px;
    margin: 0 auto;
    color: #000000;
    font-size: .9587rem;
    font-weight: 700;
  }
  #view{
    width: 197px;
    margin: 80px auto;
    border: 1px solid blue;
  }
  /* footer design */
  footer{
    background-color: #01ACFD;
  }
  .footer-container{
    display: flex;
    width: 1070.91px;
    justify-content: space-between;
    margin-left: 171.6px;
  }
  .kids-edu{
    width: 400px;
  }
  #export{
    display: flex;
  }
  .export-image{
    height: 81.65px;
  }
  .footer-edu{
    color: #FFFFFF;
    font-size: 2.633rem;
    font-weight: 700;
    /* margin: 0 auto; */
  }
  /* media quiries for mobile devices */
  @media screen and (min-width:700px) and (max-width: 800px) {
      .school{
        display: none;
      }
      .facility{
        display: none;
      }
    .btn-1{
        display: none;
    }
  }