
.quicksand-normal {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  /* shared styles */
  /* black color */
   .black{
    color: #111111;
   }
  /* navbar design */
  nav{
    width: 1160px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  .icon-school{
    display: flex;
    gap: 11px;
    align-items: center;
  }
  .image-01{
    width: 62px;
    height: 62px;
    
  }
  .school{
    font-size: 2rem;
    font-weight: 700;
  }
  ul li{
    list-style: none;
    font-size: 1.25rem;
    font-weight: 500;
    
  }
  .facility{
    display: flex;
    width: 387px;
    justify-content: space-between;
  }
  #home{
    color: #FEA301;
    font-weight: 500;
  }
  .about{
   color: #01ACFD;
  }
  .facilities{
    color: #05D4DF;
  }
  .admission{
    color: #5D58EF;
  }
  .btn-1{
    color: #FFFFFF ;
    font-size: 1.25rem;
    font-weight: 600;
    height: 50px;
    width: 197px;
    background-color: #FEA301;
    border-radius: 12px;
    border: none;
  }
  /* banner section design */
  .banner{
    width: 1158.61px;
    margin: 0 auto;
    display: flex;
    /* align-items: center; */
    gap: 50px;
    border: 1px solid saddlebrown;
  }
  .empower{
    width: 640px;
    height: 331px;
    margin: 122px 0px;
    
  }
  .empower-title{
    font-size: 3.5rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
  }
  #empowering{
    color: #FEA301;
  }
  #student-age{
    color: #111111 ;
  }
  #vision{
    color: #01ACFD;
  }
  .empower-des{
    color: rgba(17, 17, 17, 0.64);
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .btn-2{
    background-color: #111111;
    border: none;
    border-radius: 12px;
    width: 197px;
    height: 50px;
    font-size: 1.25rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 0;
  }
  .image-02{
    width: 486.61px;
  }
  /* curriculum design */
  .curriculum{
    width: 460.61px;
    margin: 0 auto;
  }
  .curriculum-headline{
    color: #000000;
    font-size: 2.875rem;
    font-weight: 700;
    
  }
  /* card design */
  .card{
    width: 1160px;
    height: 481.5px;
    display: flex;
    gap: 28.29px;
    margin: 0 auto;
    border: 1px solid red;
  }
  .card-1{
    border: 1px solid tomato;
    width: 367.8px;
    border-radius: 18.86px;
    justify-content: center;
  }
  .card-headline{
    font-weight: 700;
    font-size: 1.53rem;
    color: #202020;
  }
  .card-des{
    font-weight: 500;
    font-size: .943rem;
    color: #808080;
  }
  #read-more-1{
    color: #64C8FF;
  }
  #read-more-2{
    color: #F0AA00;
  }
  #read-more-3{
    color: #8700FF;
  }
  .card-2{
    border: 1px solid tomato;
    width: 367.8px;
    border-radius: 18.86px;
  }
  .card-3{
    border: 1px solid tomato;
    width: 367.8px;
    border-radius: 18.86px;
  }
  .card-image-1{
    margin: 52.82px 115.54px 32.07px 115.5px;
  }
  .card-image-2{
    margin: 52.82px 113.14px 32.07px 113.18px;
  }
  .card-image-3{
    margin: 52.82px 115.54px 32.07px 115.5px;
  }
  /* media quiries for mobile devices */
  @media screen and (min-width:700px) and (max-width: 800px) {
      .school{
        display: none;
      }
      .facility{
        display: none;
      }
    .btn-1{
        display: none;
    }
  }